.about {
  margin-bottom: 127px;

  &__title {
    margin-bottom: 60px;
  }

  &__wrapper {
    display: grid;
    // grid-template-columns: 572px 593px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 36px;
    padding-bottom: size(110, 90);

    @include r($tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__img-box:nth-child(1) {
    grid-row: 2 span;

    @include r($phone) {
      display: none;
    }
  }

  &__text {
    font-weight: 300;
    margin-bottom: 30px;
  }

  &__link {
    padding: size(25, 19) size(107, 53);
  }
}

.about-info {
  padding: 85px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include r($tablet-2) {
      justify-content: center;
      gap: 60px;
    }
  }

  &__text {
    max-width: 515px;
    font-size: 30px;

    span {
      text-transform: uppercase;
    }

    @include r($tablet-2) {
      max-width: 100%;
    }

    // @include r($phone) {
      // max-width: 320px;
    // }
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 54px;
  }

  &__item {
    max-width: 148px;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__item-number {
    font-size: 40px;
    margin-bottom: 18px;
    display: block;
  }

  &__item-text {
    font-weight: 300;
  }
}