.about {
  margin-bottom: 127px;
  &__title {
    margin-bottom: 60px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 572px 593px;
    grid-gap: 30px 36px;
    margin-bottom: 110px;
  }

  &__img-box:nth-child(1) {
    grid-row: 2 span;
  }

  &__text {
    font-weight: 300;
    margin-bottom: 30px;
  }
}

.about-info {
  padding: 85px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    max-width: 515px;
    font-size: 30px;

    span {
      text-transform: uppercase;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    max-width: 148px;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__item-number {
    font-size: 40px;
    margin-bottom: 18px;
    display: block;
  }

  &__item-text {
    font-weight: 300;
  }
}