.consult {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;

    @include r($tablet-2) {
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: size(80, 60);
  }

  &__text {
    font-size: size(40, 30);
    max-width: 598px;

    @include r($tablet-2) {
      p {
        font-size: 30px;
        font-weight: 300;
        max-width: 470px;
      }

      margin-bottom: 70px;
    }
  }

  &__form {
    // padding: 100px 71px 76px;
    padding: 66px size(71, 31) 76px;
    border: 1px solid $c-white;
    max-width: 574px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @include r($tablet-2) {
      padding: 66px 71px 76px;
    }

    @include r($tablet) {
      padding: size(66, 30) size(71, 20) size(76, 40);
    }
  }

  &__form-data {
    width: 100%;
    margin-bottom: size(90, 60);
  }

  &__field {
    background-color: transparent;
    border: 0;
    outline: 1px solid transparent;
    padding: 30px;
    border-bottom: 1px solid $c-white;
    text-align: center;
    width: 100%;
    transition: outline-color .3s ease-in-out;

    &:focus {
      outline-color: $c-white;
    }
  }

  &__label {
    display: block;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__btn {
    @extend .hero__link;
    position: relative;
    padding: 26px 23px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;

    .icon {
      display: flex;
      width: size(62, 49);
    }

    @include r($tablet) {
      background-color: #4a4a4a;
      font-size: 12px;
    }

    @include r($phone) {
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        display: none;
      }
    }

  }

  &__notice {
    font-weight: 300;
    font-size: 10px;
    max-width: 337px;
  }
}