.footer {
  padding: 100px 0 120px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .logo {
    margin-bottom: 100px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__address {
    max-width: 254px;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
  }

  &__info {
    margin-left: auto;

    span {
      display: block;
      margin-bottom: 15px;
    }
  }

  &__phone {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 25px;
  }

  &__social {
    display: flex;
  }

  &__social-link {
    &::before {
      min-width: 75px;
      min-height: 75px;
    }
  }
}