.footer {
  padding: 100px 0 120px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include r($tablet-2) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include r($phone) {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  &__links {
    @include r($tablet-2) {
      margin-bottom: 40px;
    }

    @include r($phone) {
      margin-bottom: 0;
    }
  }

  .logo {
    margin-bottom: size(100, 60);
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__address {
    max-width: 254px;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;

    @include r($phone) {
      margin: 0;
    }
  }

  &__info {
    margin-left: auto;

    span {
      display: block;
      margin-bottom: 15px;
    }

    @include r($tablet-2) {
      margin-left: 0;
    }
  }

  &__phone {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 25px;
  }

  &__social {
    display: flex;
  }

  &__social-link {
    &::before {
      min-width: 75px;
      min-height: 75px;
    }
  }
}