.header {
  padding-top: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 38px;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}