.materials {
  padding: 77px 0 100px;

  @include r($tablet) {
    padding: size(77, 70) 0 size(100, 80);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: size(128, 60);
    flex-wrap: wrap;
    row-gap: 40px;
  }

  &__title {
    @include r($tablet) {
      font-size: size(60, 40);
    }
  }

  &__text {
    max-width: 695px;
  }

  &__slider {
    overflow: visible;
    @include r($phone) {
      max-width: 100%;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
    box-sizing: border-box !important;

    @include r($tablet-2) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

    }

    @include r($phone) {
      display: flex;
      justify-content: initial;
      gap: initial;
      width: 100%;
      flex-wrap: nowrap;
      margin-bottom: 60px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 270px;
    height: 364px;
    transition: transform .3s ease-in-out;

    &:not(:last-child) {
      margin-right: 40px;
      @include r($tablet-2) {
        margin-right: 0;
      }
    }

    &:hover {
      transform: scale(1.05);
    }

    @include r($phone) {
      &.swiper-slide {
        max-width: 100%;
        width: 100%;
        justify-self: center;
        flex-grow: 2;
        flex-shrink: 0;
        flex-basis: auto;
      }

      .card {
        width: 100%;
      }

      .card__head {
        max-width: 100%;
      }
    }
  }



  &__card {
    display: flex;
    flex-direction: column;
  }

  &__dots {
    @include r($phone) {
      display: flex;
      gap: 20px;
      justify-content: center;
    }
  }

  &__dot {
    @include r($phone) {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #737373;

      &--active {
        background-color: #454545;
      }
    }
  }
}

.card {
  height: 100%;

  &__head {
    max-width: 270px;
    min-height: 270px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: 0;
    padding: 16px size(52, 25) 32px size(32, 15);
    background-color: #4b4b4b;

    @include r($phone) {
      justify-content: center;
    }
  }

  &__link {
    max-width: 186px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;

    &::before {
      order: 2;
      width: 31px;
    }

    @include r($phone) {
      max-width: 100%;
    }
  }
}