.materials {
  padding: 77px 0 100px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 128px;
  }

  &__text {
    max-width: 695px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 270px;
    height: 364px;
    transition: transform .3s ease-in-out;

    &:not(:last-child) {
      margin-right: 40px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }



  &__card {
    display: flex;
    flex-direction: column;
    // min-height: 364px;
    // height: 100%;
  }
}

.card {
  height: 100%;

  &__head {
    max-width: 270px;
    min-height: 270px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: 0;
    padding: 16px 52px 32px 32px;
    background-color: #4b4b4b;
  }

  &__link {
    max-width: 186px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;

    &::before {
      order: 2;
      width: 31px;
    }
  }
}