.portfolio {
  padding: size(105, 70) 0 size(100, 80);
  background-image: url(../images/sprite.svg#portfolio-bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @include r($tablet) {
    padding-bottom: 160px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 95px;
    margin-bottom: size(120, 60);
    flex-wrap: wrap;
    row-gap: 30px;
  }

  &__link {
    padding: size(33, 24) size(115, 57);

    @include r($tablet) {
      position: absolute;
      bottom: 80px;
      left: 0;
    }

    @include r($phone) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;

    @include r($tablet) {
      margin: 0 auto;
      margin-bottom: 35px;
      width: 90%;
    }

    @include r($phone) {
      margin-bottom: 70px;
    }
  }

  &__list {
    display: flex;

    @include r($tablet) {
      margin-bottom: 40px;
    }

    @include r($phone) {
      margin-bottom: 60px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 97px 57px 79px 60px;

    &:hover {
      cursor: pointer;

      .portfolio__image {
        filter: blur(5px);
      }

      .portfolio__item-info {
        opacity: 1;
        visibility: visible;
      }
    }

    // @include r(770) {
    //   flex-grow: 2;
    //   flex-shrink: 0;
    //   max-width: 330px;
    //   margin-right: 42px;
    // }

    @include r($phone) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: filter .3s ease-in-out;
  }

  &__item-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    max-width: 320px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    position: relative;
    z-index: 1;
  }

  &__item-link {
    padding: 10px 43px 9px 44px;
  }

  &__name {
    font-weight: 500;
    font-size: size(20, 17);
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__price {
    display: block;
    font-size: 20px;
    margin-bottom: 50px;
  }

  &__dots {
    display: none;

    @include r($tablet) {
      display: flex;
      gap: 20px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__dot {
    display: none;

    @include r($tablet) {
      display: flex;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #737373;

      &--active {
        background-color: #454545;
      }
    }
  }
}